table
{
    border-collapse: collapse;
}

td, th
{
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid #000000;
}

tr:hover {
    background-color: #D6EEEE;
} 

.single_character_cell
{
    width: 3.5em;
}

.medium_cell
{
    width: 6.5em;
}

.wide_cell
{
    width: 12em;
}

.horizontal_li
{
    display: inline;
    padding-right: 1em;
}

.horizontal_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.accordion.collapse
{
    display: none;
}

.accordion_header
{
    background-color: rgb(227, 233, 255);
}