table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th
{
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid #000000;
}

tr:hover {
    background-color: #e4e4e4;
} 

.single_char_cell
{
    width: 3.5em;
}

.medium_cell
{
    width: 6.5em;
}

.wide_cell
{
    width: 12em;
}

.horizontal_li
{
    display: inline;
    padding-right: 1em;
}

.horizontal_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.accordion.collapse
{
    display: none;
}

.accordion_header
{
    background-color: #6e6e6e;
    color: #ececec;
    text-align: center;
}

.accordion_header:hover {
    background-color: #bbbaba;

} 

.main_page
{
    background-color: #e4e4e4ad;
}

.page_header
{
    text-align: center;
    background-color: #585858;
    color: #ffffff;
    border: #000000;
    border-width: .1em;
    border-style:solid;
    border-radius: .2em;
    padding: .25em;
}